<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="/static/style.css">
  
</head>
<body id="bt-ord">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="#">Borisov Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link"  id="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-link" href="{% url 'blog:all_blogs' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-link" href="/static/portfolio/resume.txt">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" id="nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
            </li>
          </ul>
        </div>
      </nav>

<div class="cont">

    <div class="header">
     {% load static %}

     <img class="bobo" src="{% static 'portfolio/boris.jpg' %}" lenght='300'width='300'>

    </div>
   
    {% for project in projects %}


        <div class="cardies">
            <div class="card" style="width: 18rem;">
                <img src="{{ project.image.url }}" class="card-img-top img-fluid" id="myImg" alt="{{ project.description }}">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ project.date }}</h5>
                        <h5 class="card-title">{{ project.title}}</h6>
                       <!-- <p class="card-text">{{ project.description}}</p>-->
                    </div>
            </div>
        </div>

    {% endfor %}


</div>

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  <script>

    var modal = document.getElementById("myModal");
    
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    

    var span = document.getElementsByClassName("close")[0];
    
 
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
</body>
</html>